/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/static/images/image.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center; /* Aligns horizontally */
    align-items: center; /* Aligns vertically */
    height: 100vh;
    color: #090808;
}

/* Form Container */
.form-container {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(100px); /* Glass effect */
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Light shadow */
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #131212;
    font-size: 1.8rem;
    color: #171a1a;
}

/* Form Inputs */
form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #050404;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent input */
    color: #0f0e0e;
    outline: none;
}

form input:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border: 1px solid #0d0c0c;
    border-radius: 5px;
    font-size: 14px;
}

/* Buttons */
.action-button {
    display: inline-block;
    background-color: #0d0d0d;
    color: #faf5f5;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    border: 1px solid #0d0c0c;
}

.action-button:hover {
    background-color: #0056b3;
}

.back-button {
    background-color: #060606;
    margin-top: 10px;
}

.back-button:hover {
    background-color: #0056b3;
}

/* Buttons Container */
.buttons-container {
    margin-top: 20px;
}
